## Scripts
scripts/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Node / npm
node_modules/
npm-debug.log*

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
.DS_Store?

## Build output
dist/
build/
*.tmp
*.log

## Environment / secrets
.env
.env.*
*.local
